body {
  text-align: center;
  background-color: whitesmoke;
}

nav {
  display: flex;
  flex-direction: column;
  list-style: none;
}

nav a {
  text-decoration: none;
  padding: 10px;
  display: none;
  color: black;
}

.active {
  background-color: lightskyblue;
}

#menu {
  font-size: 1.5rem;
  border: 0;
  background: none;
  color: black;
  position: absolute;
  right: 0.5rem;
}

#menu::before {
  content: "☰";
}

#menu.open::before {
  content: "❌";
}

.open a {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  background-color: lightsteelblue;
}

.open a:hover {
  background-color: lightblue;
}

main {
  gap: 50px;
}

main div {
  border: 1px solid black;
}

.weather {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  border: none;
  gap: 10px;
}

.card {
  background-color: azure;
}

.card-body img {
  background-color: lightgrey;
}

.banner {
  display: flex;
  justify-content: center;
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
}

#closeBanner {
  background-color: transparent;
  border: none;
  color: #721c24;
  font-size: 1rem;
}

.sneak-rental {
  grid-column: 1/-1;
}

.sneak-rental > h2 {
  grid-column: 1/-1;
}

.sneak-rental > div {
  display: flex;
  flex-direction: column;
  background-color: rgb(223, 245, 252);
}

.sneak-rental div:last-child{
  margin-top: 10px;
}

.sneak-rental > div img{
  margin: 0 auto;
}

.about,
.weatherdiv,
.sneak-rental {
  margin-bottom: 20px
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: lightgray;
}

.contact-info a{
  color: black;
  text-decoration: none;
}

.contact-info,
.social-media,
.copyright {
  flex-basis: 100%;
}

.social-media a {
  display: inline-block;
  margin-right: 10px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.rentalPage {
  display: block;
  justify-content: center;
}

.rentals {
  border: none;
  display: grid;
  justify-content: center;
}

.rental {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(213, 234, 252);
  margin: 10px 10px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border: none;
  justify-content: center;
  text-align: center;
}

.rental-agreement {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: lightcyan;
  font-weight: bold;
  font-size: 1.2rem;
}

.reservation-form {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: lightgrey;
}

form {
  display: grid;
  gap: 10px;
}

label {
  font-weight: bold;
}

input,
select,
textarea {
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  margin: 0 25%;
}

.reservation-form input:required {
  border: 2px solid red;
}

.reservation-form input:required:valid {
  border: 1px solid black;
}

.reservation-form select:required {
  border: 2px solid red;
}

.reservation-form select:required:valid {
  border: 1px solid black;
}

.submit {
  padding: 10px;
  background-color: #aabbce;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  min-width: 400px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.submit:hover {
  background-color: #5092da;
}

.thanks{
  display: block;
  text-align: center;
  justify-content: center;
}

.contact-form form{
  margin-bottom: 20px;
}

.contact > div{
  margin-bottom: 20px;
}

.contactButton{
  width: 50%;
  margin: 0 auto;
  border-radius: 20px;
  background-color: #aabbce;
}

.contactButton:hover {
  background-color: #5092da;
  cursor: pointer;
}

.maps iframe{
  border-radius: 20px;
  border: none;
  width: 90%;
}

.contact img{
  display: none;
}