@media screen and (min-width: 1000px) {
    header{
        font-size: 1.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header img{
        vertical-align: middle;
    }
    
    nav{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    
    nav a{
        display: block;
        padding: 10px;
        margin: 5px 5px 5px 5px;
        background-color: lightsteelblue;
        border: 1px solid black;
        border-radius: 20px;
        text-decoration: none;
        color: black;
        font-size: 1.5rem;
    }
    
    nav a:hover{
        background-color: lightblue;
    }
    
    .active{
        background-color: lightskyblue;
    }

    #menu {
        display: none; /* hide hamburger button */
    }
    
    main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }
    
    main div{
        border: 1px solid black;
        border-radius: 25px;
        
    }

    .about{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
    }

    .about:first-child{
        display: block;
    }
    
    .sneak-rental{
        grid-column: 1/-1;
    }







    .weather{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        border: none;
        gap: 100px;
    }

    .card{
        background-color: azure;
    }

    .card-body img{
        background-color: lightgrey;
    }


}