@media screen and (min-width: 600px) {
    nav{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    
    nav a{
        display: block;
        padding: 10px;
        margin: 5px 5px 5px 5px;
        background-color: lightsteelblue;
        border: 1px solid black;
        border-radius: 20px;
        text-decoration: none;
        color: black;
        font-size: 1.5rem;
    }
    
    nav a:hover{
        background-color: lightblue;
    }
    
    .active{
        background-color: lightskyblue;
    }

    #menu {
        display: none; /* hide hamburger button */
    }
}