@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #6487e9;
    color: #333; 
    margin: 0;
}

header, nav, main, footer {
    max-width: 800px; 
    margin: 0 auto; 
    text-align: center;
}

header {
    background-color: #78828f;
    color: #fff; 
}

header img{
    width:25%;
}

nav {
    display: grid;
    gap: 10px;
    background-color: #333;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

main {
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li{
    text-align: left;
}

.card {
    background-color: #78828f;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

footer {
    background-color: #333; 
    color: #fff; 
    padding: 10px;
}

/* Add any additional styling as needed */
