@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #6487e9;
    color: #333; 
    margin: 0;
}

header, nav, main, footer {
    max-width: 800px; 
    margin: 0 auto; 
    text-align: center;
}

header {
    background-color: #78828f;
    color: #fff;
    padding-top: 10px; 
}

header img{
    width:30%;
    height:30%;
}

nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
    padding: 10px;
}

nav a {
    text-decoration: none;
    display: none;
    color: #fff;
    padding: 10px;
}

nav a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
 	position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❌";
}

.open{
    background-color: #333;
}

.open a{
    display: block;
}

main {
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li{
    text-align: left;
}

ul li a{
    text-decoration: none;
    color: #fff;
}

.card {
    background-color: #333;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    color: #ddd;
}

footer {
    background-color: #333; 
    color: #fff; 
    padding: 10px;
}

/* Add any additional styling as needed */
