@media screen and (min-width: 600px) {
    body {
      background-color: #a4b3f7;
      margin: 0;
    }

    header img{
        width:25%;
        height:25%;
    }
  
    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding: 0;
      background-color: #333;
      align-items: center;
    }

    nav a {
      display: block;
      flex: 1 1 100%;
      padding: 10px;
    }

    #menu {
      display: none; /* hide hamburger button */
    }
  
    main {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  }
  