@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    margin: 0;
}

nav {
    display: flex;
    flex-direction: column;
    list-style: none;
}

nav a {
    text-decoration: none;
    padding: 10px;
    display: none;
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: white;
 	position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❌";
}

.open a{
    display: flex;
    justify-content: center;
}

.open a:hover{
    background-color: lightgray;
}

header{
    background-color: #03254E;
    color: white;
    padding: 10px;
}

main{
    background-color: #06ADEF;
    flex-direction: column;
    padding: 20px;
}

.coa{
    background-color: white;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block {
    display: block;
    border: none;
    background-color: #06ADEF;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.boxes div{
    background-color: white;
    border: solid 1px black;
}

.hero img{
    width: 100%;
}

footer{
    flex-direction: column;
    background-color: #03254E;
    color: white;
    padding: 10px;
    text-decoration: none;
}

footer p a{
    color: white;
}

#temperatureInput, #windSpeedInput, #calculateButton{
    padding: 48px 48px;
}

#mode {
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	font-size: 1.5rem;
	cursor: pointer;
	font-size: 2rem;
}