@media screen and (min-width: 600px) {
    
    header, nav, footer{
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding: 0;
      align-items: center;
    }

    nav a {
      display: block;
      flex: 1 1 100%;
      padding: 10px;
    }

    nav a:hover{
        background-color: lightgray;
    }

    #menu {
        display: none; /* hide hamburger button */
    }

    header{
        padding: 10px;
    }
    
    main{
        background-color: #06ADEF;
        flex-direction: column;
        padding: 20px;
    }
    
    .coa{
        background-color: white;
        margin: 0 auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .block {
        display: block;
        border: none;
        background-color: #06ADEF;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
    }

    .boxes{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
    
    .boxes div{
        background-color: white;
        border: solid 1px black;
    }

    .events {
        grid-column: 1/-1;
        background-color: white;
        border: solid 1px black;
    }
    
    footer{
        flex-direction: column;
        color: white;
        padding: 10px;
        text-decoration: none;
    }
    
    footer p a{
        color: white;
    }

    .wjform,
    .membership-benefits {
        width: 100%;
        display: block;
    }

    /* Set the order to display the membership table below the form */
    .membership-benefits {
        order: 2;
    }

    .wjform label {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 1rem;
        color: black;
        font-size: .9rem;
    }

    .membership-benefits img{
        display: none;
    }

    .list-view .member img {
        display: inline-block;
        width: 25%;
        height: 25%;
      }
  }